{% set tdomain = "OpenSkoolAdminBundle_Periodo" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog width="400" widgetVar="dlgNewPeriodo" title="dlg.create.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
    <div style="width:100%">
    {% ajax_form id="frmNewPeriodo"
       update="#periodoWorkspace"
       action=path("periodo_create")
       method="POST"
       beforeSubmit=js_function("$('.btnSubmitPeriodo').attr('disabled',true);_dlgNewPeriodo = dlgNewPeriodo;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgNewPeriodo.wijdialog('destroy');
           $(_dlgNewPeriodo).remove();
         }
         if (jqXHR.status == 200){
           _dlgNewPeriodo.wijdialog('destroy');
           $(_dlgNewPeriodo).remove();
           $.pnotify('" ~ "msg.create.success"|trans({'%name%': entityLabel }) ~ "');
           $('#periodoGrid').trigger('reloadGrid');
         }") 
  %}

    {% include "OpenSkoolAdminBundle:Periodo:form.html.twig" with { 'form' : form} %}

    <hr class="ui-widget-content">

    <input checked="checked" id="_loop_create" type="checkbox" name="_loop_create" />
    <label for="_loop_create">{{"chk.create.and.create.a.new.one"|trans}}</label>

    {% ui_button class="crud-btn-submit btnSubmitPeriodo" type="submit" value="action.create"|trans%}

  {% end_ajax_form %}
  </div>

{% end_ui_dialog %}