{% set tdomain = "YepsuaLocalityBundle_Country" %}
{% set entityLabel = "entity.label"|trans([], tdomain ) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditCountry"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditCountry"
       update="#countryWorkspace"
       action=path("country_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitCountry').attr('disabled',true);_dlgEditCountry = dlgEditCountry;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditCountry.wijdialog('destroy');
           $(_dlgEditCountry).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditCountry.wijdialog('destroy');
           $(_dlgEditCountry).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#countryGrid').trigger('reloadGrid');
         }")
  %}

    {% form_theme edit_form 'YepsuaSmarTwigBundle:Form:table_layout.html.twig' %}

    {{ form_widget(edit_form) }}

    <br/><br/>
    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitCountry" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteCountry"
       update="#countryWorkspace"
       action=path("country_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitCountry').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditCountry.wijdialog('destroy');
           $('#countryGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitCountry" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}