{% set tdomain = "YepsuaLOVBundle_LOV" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditLOV"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditLOV"
       update="#lovWorkspace"
       action=path("list_of_values_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitLov').attr('disabled',true);_dlgEditLOV = dlgEditLOV;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditLOV.wijdialog('destroy');
           $(_dlgEditLOV).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditLOV.wijdialog('destroy');
           $(_dlgEditLOV).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#lovGrid').trigger('reloadGrid');
         }")
  %}

    {% form_theme edit_form 'YepsuaSmarTwigBundle:Form:table_layout.html.twig' %}

    {{ form_widget(edit_form) }}

    <br/><br/>
    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitLov" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteLOV"
       update="#lovWorkspace"
       action=path("list_of_values_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitLov').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditLOV.wijdialog('destroy');
           $('#lovGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitLov" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}