/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/nbproject/
/bin/
/nbproject/
/composer.lock
/gush.phar
/composer.phar
/app/SymfonyRequirements.php
/app/check.php
*.php~
/gush.phar
