{% set tdomain = "OpenSkoolAdminBundle_Instituto" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog width="700" resizable="false" widgetVar="dlgNewInstituto" title="dlg.create.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
    <div style="width:100%">
    {% ajax_form id="frmNewInstituto"
       update="#institutoWorkspace"
       action=path("instituto_create")
       method="POST"
       beforeSubmit=js_function("$('.btnSubmitInstituto').attr('disabled',true);_dlgNewInstituto = dlgNewInstituto;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgNewInstituto.wijdialog('destroy');
           $(_dlgNewInstituto).remove();
         }
         if (jqXHR.status == 200){
           if($('#hdnKanbanInstituto').val()){
             location.reload();
           }
           _dlgNewInstituto.wijdialog('destroy');
           $(_dlgNewInstituto).remove();
           $.pnotify('" ~ "msg.create.success"|trans({'%name%': entityLabel }) ~ "');
           $('#institutoGrid').trigger('reloadGrid');
           window.location = '" ~ path("change_instituto") ~ "'
         }") 
  %}

    {% include "OpenSkoolAdminBundle:Instituto:form.html.twig" with { 'form' : form} %}

    <br/><br/>
    <hr class="ui-widget-content">

    <input checked="checked" id="_loop_create" type="checkbox" name="_loop_create" />
    <label for="_loop_create">{{"chk.create.and.create.a.new.one"|trans}}</label>

    {% ui_button class="crud-btn-submit btnSubmitInstituto" type="submit" value="action.create"|trans%}

  {% end_ajax_form %}
  </div>

{% end_ui_dialog %}