{% set tdomain = "OpenSkoolAdminBundle_Carrera" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditCarrera"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditCarrera"
       update="#carreraWorkspace"
       action=path("carrera_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitCarrera').attr('disabled',true);_dlgEditCarrera = dlgEditCarrera;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditCarrera.wijdialog('destroy');
           $(_dlgEditCarrera).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditCarrera.wijdialog('destroy');
           $(_dlgEditCarrera).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#carreraGrid').trigger('reloadGrid');
         }")
  %}

    {% include "OpenSkoolAdminBundle:Carrera:form.html.twig" with { 'form' : edit_form} %}

    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitCarrera" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteCarrera"
       update="#carreraWorkspace"
       action=path("carrera_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitCarrera').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditCarrera.wijdialog('destroy');
           $('#carreraGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitCarrera" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}