  {% ui_dialog width=340 title="dialog.asignatura.title"|trans([],tdomain) autoOpen=false widgetVar="dlgAsignatura" modal=true %}
    {{"dialog.asignatura.label.agregar.asignatura"|trans([],tdomain)}}
    <br/><br/>
    {{"dialog.asignatura.form.label.asignatura"|trans([],tdomain)}}
    <select id="cboAsignaturas" name="cboAsignaturas">
      <option value=""></option>
      {% for pensumAsignatura in pensumAsignaturas %}
      <option value="{{ pensumAsignatura.id }}">{{ pensumAsignatura.asignatura }}</option>
      {% endfor %}
    </select>
    <br/><br/>
    <hr class="ui-widget-content">
    {% ui_button onclick="agregarAsignatura()" id="btnAsociarGrupo" class="crud-btn-submit" type="submit" value="action.save"|trans %}
  {% end_ui_dialog %}