{% ui_dialog width=340 title="dialog.grupo.title"|trans([],tdomain) autoOpen=false widgetVar="dlgGrupo" modal=true %}

<div class="container-fluid" style="width:99%">

    <i title="{{ 'dialog.grupo.label.agregar.grupo'|trans([],tdomain) }}"
       class="help-tooltip glyphicon glyphicon-info-sign"></i>

    <div class="row">
        <div class="col-md-12">
            <div class="control-group">
                <label class="control-label" for="textinput">{{ "dialog.grupo.form.label.grupo"|trans([],tdomain) }}
                    :</label>

                <div class="controls">
                    <select id="cboGrupos" name="cboGrupos">
                        <option value=""></option>
                        {% for grupo in grupos %}
                            <option value="{{ grupo.id }}">{{ grupo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="ui-widget-content">

{% ui_button onclick="agruparEtapas(true)" id="btnAsociarGrupo" class="crud-btn-submit" type="submit" value="action.save"|trans %}
{% end_ui_dialog %}