{% ui_dialog width=340 title="dialog.etapa.title"|trans([],tdomain) autoOpen=false widgetVar="dlgEtapa" modal=true %}
  {{"dialog.etapa.label.agregar.etapa"|trans([],tdomain)}}

  <br/><br/>
  {{"dialog.etapa.form.label.etapa"|trans([],tdomain)}}
  <select id="cboEtapas" name="cboEtapas">
    <option value=""></option>
    {% for etapa in etapas %}
    <option value="{{ etapa.id }}">{{ etapa }}</option>
    {% endfor %}
  </select>
  <br/><br/>
  <hr class="ui-widget-content">
  {% ui_button onclick="agregarEtapaPlanEstudios()" id="btnAgregarEtapa" class="crud-btn-submit" type="submit" value="action.save"|trans %}
{% end_ui_dialog %}