{% set tdomain = "OpenSkoolAdminBundle_Facultad" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditFacultad"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditFacultad"
       update="#facultadWorkspace"
       action=path("facultad_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitFacultad').attr('disabled',true);_dlgEditFacultad = dlgEditFacultad;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditFacultad.wijdialog('destroy');
           $(_dlgEditFacultad).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditFacultad.wijdialog('destroy');
           $(_dlgEditFacultad).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#facultadGrid').trigger('reloadGrid');
         }")
  %}

    {% include "OpenSkoolAdminBundle:Facultad:form.html.twig" with { 'form' : edit_form} %}

    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitFacultad" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteFacultad"
       update="#facultadWorkspace"
       action=path("facultad_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitFacultad').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditFacultad.wijdialog('destroy');
           $('#facultadGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitFacultad" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}