{% set entityLabel = "entity.label"|trans([],'OpenSkoolAdminBundle_Facultad') %}
{% ui_dialog widgetVar="dlgNewFacultad" title="dlg.create.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
    <div style="width:100%">
    {% ajax_form id="frmNewFacultad"
       update="#facultadWorkspace"
       action=path("facultad_create")
       method="POST"
       beforeSubmit=js_function("$('.btnSubmitFacultad').attr('disabled',true);_dlgNewFacultad = dlgNewFacultad;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgNewFacultad.wijdialog('destroy');
           $(_dlgNewFacultad).remove();
         }
         if (jqXHR.status == 200){
           _dlgNewFacultad.wijdialog('destroy');
           $(_dlgNewFacultad).remove();
           $.pnotify('" ~ "msg.create.success"|trans({'%name%': entityLabel }) ~ "');
           $('#facultadGrid').trigger('reloadGrid');
         }") 
  %}

    {% form_theme form 'YepsuaSmarTwigBundle:Form:table_layout.html.twig' %}

    {{ form_widget(form) }}

    <br/><br/>
    <hr class="ui-widget-content">

    <input checked="checked" id="_loop_create" type="checkbox" name="_loop_create" />
    <label for="_loop_create">{{"chk.create.and.create.a.new.one"|trans}}</label>

    {% ui_button class="crud-btn-submit btnSubmitFacultad" type="submit" value="action.create"|trans%}

  {% end_ajax_form %}
  </div>

{% end_ui_dialog %}