{% set entityLabel = "Persona" %}
{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditPersona"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditPersona"
       update="#personaWorkspace"
       action=path("persona_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitPersona').attr('disabled',true);_dlgEditPersona = dlgEditPersona;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditPersona.wijdialog('destroy');
           $(_dlgEditPersona).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditPersona.wijdialog('destroy');
           $(_dlgEditPersona).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#personaGrid').trigger('reloadGrid');
         }")
  %}

    {% form_theme edit_form 'YepsuaSmarTwigBundle:Form:table_layout.html.twig' %}

    {{ form_widget(edit_form) }}

    <br/><br/>
    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitPersona" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeletePersona"
       update="#personaWorkspace"
       action=path("persona_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitPersona').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditPersona.wijdialog('destroy');
           $('#personaGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitPersona" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}