{% set tdomain = "YepsuaSecurityBundle_User" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditUser"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditUser"
       update="#userWorkspace"
       action=path("user_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitUser').attr('disabled',true);_dlgEditUser = dlgEditUser;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditUser.wijdialog('destroy');
           $(_dlgEditUser).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditUser.wijdialog('destroy');
           $(_dlgEditUser).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#userGrid').trigger('reloadGrid');
         }")
  %}
    <div id="frmEditUserContainer">   
      {% form_theme edit_form 'YepsuaSmarTwigBundle:Form:table_layout.html.twig' %}
      {{ form_widget(edit_form) }}
    </div>
    <br/><br/>
    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitUser" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteUser"
       update="#userWorkspace"
       action=path("user_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitUser').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditUser.wijdialog('destroy');
           $('#userGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitUser" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}