{% set tdomain = "OpenSkoolAdminBundle_Pensum" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog width="600" widgetVar="dlgNewPensum" title="dlg.create.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
    <div style="width:100%">
    {% ajax_form id="frmNewPensum"
       update="#pensumWorkspace"
       action=path("pensum_create")
       method="POST"
       beforeSubmit=js_function("$('.btnSubmitPensum').attr('disabled',true);_dlgNewPensum = dlgNewPensum;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgNewPensum.wijdialog('destroy');
           $(_dlgNewPensum).remove();
         }
         if (jqXHR.status == 200){
           _dlgNewPensum.wijdialog('destroy');
           $(_dlgNewPensum).remove();
           $.pnotify('" ~ "msg.create.success"|trans({'%name%': entityLabel }) ~ "');
           $('#pensumGrid').trigger('reloadGrid');
         }") 
  %}

    {% include "OpenSkoolAdminBundle:Pensum:form.html.twig" with { 'form' : form} %}

    <hr class="ui-widget-content">

    <input checked="checked" id="_loop_create" type="checkbox" name="_loop_create" />
    <label for="_loop_create">{{"chk.create.and.create.a.new.one"|trans}}</label>

    {% ui_button class="crud-btn-submit btnSubmitPensum" type="submit" value="action.create"|trans%}

  {% end_ajax_form %}
  </div>

{% end_ui_dialog %}