{% set tdomain = "OpenSkoolAdminBundle_Pensum" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog width="600" widgetVar="dlgShowPensum" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}

<div class="container-fluid" style="width:99%">
    <div class="row">
        <div class="col-md-6">
            <div class="control-group">
                <label class="control-label" for="textinput">{{"Instituto"|trans([],tdomain)}}:</label>
                <div class="controls">
                    {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.instituto} %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="control-group">
                <label class="control-label" for="textinput">{{"Carrera"|trans([],tdomain)}}:</label>
                <div class="controls">
                    {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.carrera} %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="control-group">
                <label class="control-label" for="textinput">{{"Pensumpadre"|trans([],tdomain)}}:</label>
                <div class="controls">
                    {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.pensumPadre} %}
                </div>
            </div>
        </div>
    </div>
</div>

  <hr class="ui-widget-content">

  {% ui_button class="crud-btn-submit" onclick="rcPensumEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#pensumWorkspace"
       beforeSend=js_function("dlgShowPensum.wijdialog('destroy');") 
       type="GET" 
       url=path("pensum_edit", { "id": entity.id }) 
       name="rcPensumEditAgain" %}
    
  {% ajax_form id="frmDeletePensum"
       update="#pensumWorkspace"
       action=path("pensum_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitPensum').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowPensum.wijdialog('destroy');
           $('#pensumGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitPensum" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}

{% end_ui_dialog %}