{% set tdomain = "YepsuaLocalityBundle_Locality" %}
{% set entityLabel = "entity.label"|trans([], tdomain ) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditLocality"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditLocality"
       update="#localityWorkspace"
       action=path("locality_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitLocality').attr('disabled',true);_dlgEditLocality = dlgEditLocality;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditLocality.wijdialog('destroy');
           $(_dlgEditLocality).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditLocality.wijdialog('destroy');
           $(_dlgEditLocality).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#localityGrid').trigger('reloadGrid');
         }")
  %}

    {% form_theme edit_form 'YepsuaSmarTwigBundle:Form:table_layout.html.twig' %}

    {{ form_widget(edit_form) }}

    <br/><br/>
    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitLocality" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteLocality"
       update="#localityWorkspace"
       action=path("locality_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitLocality').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditLocality.wijdialog('destroy');
           $('#localityGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitLocality" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}