{% set tdomain = "OpenSkoolAdminBundle_Turno" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditTurno"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditTurno"
       update="#turnoWorkspace"
       action=path("turno_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitTurno').attr('disabled',true);_dlgEditTurno = dlgEditTurno;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditTurno.wijdialog('destroy');
           $(_dlgEditTurno).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditTurno.wijdialog('destroy');
           $(_dlgEditTurno).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#turnoGrid').trigger('reloadGrid');
         }")
  %}

    {% include "OpenSkoolAdminBundle:Turno:form.html.twig" with { 'form' : edit_form} %}

    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitTurno" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteTurno"
       update="#turnoWorkspace"
       action=path("turno_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitTurno').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditTurno.wijdialog('destroy');
           $('#turnoGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitTurno" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}