{% set tdomain = "OpenSkoolAdminBundle_Turno" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog widgetVar="dlgNewTurno" title="dlg.create.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
    <div style="width:100%">
    {% ajax_form id="frmNewTurno"
       update="#turnoWorkspace"
       action=path("turno_create")
       method="POST"
       beforeSubmit=js_function("$('.btnSubmitTurno').attr('disabled',true);_dlgNewTurno = dlgNewTurno;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgNewTurno.wijdialog('destroy');
           $(_dlgNewTurno).remove();
         }
         if (jqXHR.status == 200){
           _dlgNewTurno.wijdialog('destroy');
           $(_dlgNewTurno).remove();
           $.pnotify('" ~ "msg.create.success"|trans({'%name%': entityLabel }) ~ "');
           $('#turnoGrid').trigger('reloadGrid');
         }") 
  %}

    {% include "OpenSkoolAdminBundle:Turno:form.html.twig" with { 'form' : form} %}

    <hr class="ui-widget-content">

    <input checked="checked" id="_loop_create" type="checkbox" name="_loop_create" />
    <label for="_loop_create">{{"chk.create.and.create.a.new.one"|trans}}</label>

    {% ui_button class="crud-btn-submit btnSubmitTurno" type="submit" value="action.create"|trans%}

  {% end_ajax_form %}
  </div>

{% end_ui_dialog %}