{% set tdomain = "OpenSkoolAdminBundle_Asignatura" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog title="dlg.edit.title"|trans({'%name%': entityLabel }) modal="true" widgetVar="dlgEditAsignatura"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
   <div style="width:100%">
   {% ajax_form id="frmEditAsignatura"
       update="#asignaturaWorkspace"
       action=path("asignatura_update", { "id": entity.id })
       method="PUT"
       beforeSubmit=js_function("$('.btnSubmitAsignatura').attr('disabled',true);_dlgEditAsignatura = dlgEditAsignatura;")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgEditAsignatura.wijdialog('destroy');
           $(_dlgEditAsignatura).remove();
         }
         if (jqXHR.status == 200){
           _dlgEditAsignatura.wijdialog('destroy');
           $(_dlgEditAsignatura).remove();
           $.pnotify('" ~ "msg.edit.success"|trans({'%name%': entityLabel }) ~ "');
           $('#asignaturaGrid').trigger('reloadGrid');
         }")
  %}

    {% form_theme edit_form 'YepsuaSmarTwigBundle:Form:table_layout.html.twig' %}

    {{ form_widget(edit_form) }}

    <br/><br/>
    <hr class="ui-widget-content">

    {% ui_button class="crud-btn-submit btnSubmitAsignatura" type="submit" value="action.save"|trans%}

  {% end_ajax_form %}

  {% ajax_form id="frmDeleteAsignatura"
       update="#asignaturaWorkspace"
       action=path("asignatura_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitAsignatura').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel }) ~ "');
           dlgEditAsignatura.wijdialog('destroy');
           $('#asignaturaGrid').trigger('reloadGrid');
         }")
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitAsignatura" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}